/* Movements.module.css */
.formContainer {
  max-width: 800px;
  margin: 0 auto;
}

.formRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

/* Responsividade para mobile */
@media (max-width: 600px) {
  .formRow {
    grid-template-columns: 1fr;
    gap: 0;
  }
}